.input-search {
    display: block;
    margin: auto;
    height: 30px;
    width: 330px;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}


